<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit details</title>
</head>
<body>
    {{form_data}}
    <form action="" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" placeholder="Enter the student name" value="{{form_data.Name}}"><br><br>
        <label for="Age">Age</label>
        <input type="text" name="Age" placeholder="Enter the student age" value="{{form_data.Age}}"><br><br>
        <label for="Roll_No">Roll_No</label>
        <input type="text" name="Roll_No"placeholder="Enter the student roll_no" value="{{form_data.Roll_No}}"><br><br>
        <label for="Sub_1">Sub_1</label>
        <input type="text" name="Sub_1" placeholder="Enter the mark 1" value="{{form_data.Marks[0]}}"><br><br>
        <label for="Sub_2">Sub_2</label>
        <input type="text" name="Sub_2" placeholder="Enter the mark 2" value="{{form_data.Marks[1]}}"><br><br>
        <label for="Sub_3">Sub_3</label>
        <input type="text" name="Sub_3" placeholder="Enter the mark 3" value="{{form_data.Marks[2]}}"><br><br>
        <label for="Sub_4" >Sub_4</label>
        <input type="text" name="Sub_4" placeholder="Enter the mark 4" value="{{form_data.Marks[3]}}"><br><br>
        <label for="Sub_5">Sub_5</label>
        <input type="text" name="Sub_5" placeholder="Enter the mark 5" value="{{form_data.Marks[4]}}"><br><br>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>
