<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{data}}
    <form action="" method="post">
        <label for="username">username</label>
        <input type="text" name="username" placeholder="enter the username">
        <label for="password">password</label>
        <input type="text" name="password" placeholder="enter the password">
        <input type="submit" value="login">
    </form>
    <button><a href="{{url_for('navbar')}}">home</a></button>
    
</body>
</html>